@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #333;
    font-family: 'Open Sans', serif;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
}

a {
    color: #fff;
}

a:hover, a:visited {
    color: #fff;
    text-decoration: none;
}

img {
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 3px #000;
    height: auto;
}

h1 {
    text-align: center;
    font-weight: lighter;
    line-height: 1.4;
    font-size: 2.8em;
}

h1 span {
    font-family: 'Dancing Script', serif;
    font-size: 0.7em;
}

.skills span {
    display: inline-block;
    padding: 5px;
    background: #444;
    border-radius: 10px;
}

.skills .separator {
    display: block;
    margin: 10px 0;
}

.social {
    display: block;
}

.social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social ul li {
    display: inline-block;
    margin: 10px;
    font-size: 2em;
}

.social ul li a {
    transition: all 0.3s;
}

.social ul li a:hover {
    color: #2ac3e8;
}